@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box;}
body { font-family: 'Roboto', sans-serif; }
a { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: 500; text-transform: capitalize;}
ul { list-style-type: none; }

.header_0 { font-size: 86px; }
.header_1 { font-size: 63px; }
.header_2 { font-size: 38px; }

.center_text { text-align: center; }

/* Utilitaires */

.ptb_1 { padding: 40px 0; }
.ptb_2 { padding: 20px 0; }
.ptb_3 { padding: 10px 0; }
.p1 { padding: 40px; }
.p2 { padding: 20px; }

.container {
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
}

.btn { 
     cursor: pointer;
    color:#1d1d1d; 
    background-color: #fff; 
    padding: 10px 20px; 
    border-radius: 4px; }


/* Barre de navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1d1d1d;
  color: #fff;
  padding: 16px;
}

.navbar ul { display: flex; align-items: center; list-style: none; }
.logo_title, .navbar ul li a, .header { color:#fff; }
.navbar ul li a {padding: 12px;margin: 0 6px; }
.navbar ul li a:hover {color: #1d1d1d; background-color: #ffb42a; border-radius: 4px;}

/* Header */

.header {
    background: url('https://raw.githubusercontent.com/rcko95/rcko95.github.io/refs/heads/main/img1.jpg') no-repeat center center/cover;
    height: 93.9vh;
}
.header .header_content {
    background-color: #000000a6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_cta {background-color: #ffb42a;}
.btn_cta:hover { background-color: #1d1d1d; color:#ffb42a; }
.header .header_content .header_0 { padding-bottom: 12px; }
.cta_catch {font-size: 22px; margin-bottom: 22px;}

/* Section Localisation */

.location_section { background-color: #f3f3f3; }
.location_section_top_text { font-size: 20px; padding-bottom: 30px;}
.locations { display:flex; padding: 16px; }
.location { flex: 1; padding: 30px 30px 15px 30px; }
.location_text { padding-top: 5px; }

/* Section About Us */

.about_us { display: flex; }
.about_us div { flex: 1; }
.about_us .about_us_img { background: url('https://raw.githubusercontent.com/rcko95/rcko95.github.io/refs/heads/main/img2.jpg') no-repeat center top/cover;}
.about_us_content { background-color: #242424; color: #fff;  }
.about_us_text { font-size: 19px; }
.about_us li { padding: 10px 0;  border-bottom: 1px solid #363636;} 
.about_us li:nth-last-of-type(1) { border: none; }

/* Section Contact */

.contact .contact_text { padding-bottom: 40px; }

.contact .contact_form label { width: 62%; display: block; }
.contact_form input, .contact .contact_form textarea { 
    width: 40%;
    padding: 18px;
    margin: 7px 0;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
 } 
 
 .input_required { color: #dc143c }
 .btn_contact {background-color: #ffb42a; font-size: 20px;}
.btn_contact:hover { background-color: #1d1d1d; color:#ffb42a; }

/* Changer la police de la partie contact */

input[type="email"], textarea {
    font-family: 'roboto', sans-serif; }
    

    .abtus { 
         border-bottom: 1px solid #363636;
     }

     /* Footer */

     .main_footer { background-color: #1d1d1d; color: #fff; }